body
{
    background-size: 130%;
    background-color: #fdfffc;
    margin: 0;
    padding: 0;
}


img#logo
{
   
    margin-left: auto;
    position: absolute;
    left: 1rem;
    top:2rem;
    width:250px;
    height:auto;

}

.navigation
{
    display: flex;
    /* justify-content: start; */
    padding-left: 10%;
    background-color: #5f9ea091;
    /* text-align: center; */
    height: 5rem;

}
