main
{
    font-family:fantasy;
    color:rgb(0, 48, 54);
    font-size: 20px;
    color:white;
    padding: 2%;
    
}
.videos
{
    display: flex;
    border-style:groove;
    border-radius: 10%;
    border-color:aquamarine;
    border-width: 0.5rem;
}
body
{
    backdrop-filter: blur(4px);
}
.pageText
{
    text-shadow:1px 1px black;
    padding:1%
}
h1
{
    font-family:'Courier New', Courier, monospace;
    text-decoration:dashed;
}